.boton{
    
        text-align: center;
        
        justify-content: center;      
        align-items: center;    
        
    
}
p{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}